#user-info {
  border: none;
  padding: 0;

  
  dt {
    width: auto;
    padding-left: 0;

    &:after {
      content: ':';  
    }
  }

  dd {
    display: inline;
    margin-left: inherit;  
  }

  dd:after {
    content: '\A';
    white-space: pre;
  }
  
}